[
  {
    "url" : "\/Clipboard.clipboard",
    "hideIfActive" : false,
    "openSelectedFiles" : true,
    "modifierFlags" : 1966379,
    "order" : 0,
    "openSelectedFolders" : true,
    "enabled" : true,
    "keyCode" : 49
  },
  {
    "bookmark" : "Ym9vaywCAAAAAAQQMAAAACKBxbUZVI4pPRDnkdmFmfhYJhqJx8L2v+3LpY6FHzJXTAEAAAQAAAADAwAAABgAKAwAAAABAQAAQXBwbGljYXRpb25zCQAAAAEBAABpVGVybS5hcHAAAAAIAAAAAQYAABAAAAAkAAAACAAAAAQDAAA0Ob4BAAAAAAgAAAAEAwAAeBelAQAAAAAIAAAAAQYAAEgAAABYAAAACAAAAAAEAABBwuhQYgAAABgAAAABAgAAAgAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAoO9FSgAAAAgAAAAABAAAQcHeRIAAAAAkAAAAAQEAAERGMTVEM0VDLUZBNTEtNEE0OS1CMEVBLUE0NzUxMTBFNENBMRgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAACoAAAA\/v\/\/\/wEAAAAAAAAADQAAAAQQAAA4AAAAAAAAAAUQAABoAAAAAAAAABAQAACIAAAAAAAAAEAQAAB4AAAAAAAAAAIgAAA4AQAAAAAAAAUgAACoAAAAAAAAABAgAAC4AAAAAAAAABEgAADsAAAAAAAAABIgAADMAAAAAAAAABMgAADcAAAAAAAAACAgAAAYAQAAAAAAADAgAABEAQAAAAAAABDQAAAEAAAAAAAAAA==",
    "enabled" : true,
    "openSelectedFiles" : true,
    "keyCode" : 17,
    "openSelectedFolders" : true,
    "url" : "\/Applications\/iTerm.app",
    "hideIfActive" : false,
    "modifierFlags" : 1966379,
    "order" : 1
  },
  {
    "keyCode" : 8,
    "hideIfActive" : false,
    "order" : 2,
    "openSelectedFiles" : true,
    "modifierFlags" : 1966379,
    "bookmark" : "Ym9vazQCAAAAAAQQMAAAACECApOhSb\/zt0adNqKDc67wdGiUZ3W9fynX5bLD48OYVAEAAAQAAAADAwAAABgAKAwAAAABAQAAQXBwbGljYXRpb25zEQAAAAEBAABHb29nbGUgQ2hyb21lLmFwcAAAAAgAAAABBgAAEAAAACQAAAAIAAAABAMAADQ5vgEAAAAACAAAAAQDAAAJHA4AAAAAAAgAAAABBgAAUAAAAGAAAAAIAAAAAAQAAEHCBQi+gAAAGAAAAAECAAACAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAAAQkAAGZpbGU6Ly8vDAAAAAEBAABNYWNpbnRvc2ggSEQIAAAABAMAAACg70VKAAAACAAAAAAEAABBwd5EgAAAACQAAAABAQAAREYxNUQzRUMtRkE1MS00QTQ5LUIwRUEtQTQ3NTExMEU0Q0ExGAAAAAECAACBAAAAAQAAAO8TAAABAAAAAAAAAAAAAAABAAAAAQEAAC8AAAAAAAAAAQUAAKgAAAD+\/\/\/\/AQAAAAAAAAANAAAABBAAAEAAAAAAAAAABRAAAHAAAAAAAAAAEBAAAJAAAAAAAAAAQBAAAIAAAAAAAAAAAiAAAEABAAAAAAAABSAAALAAAAAAAAAAECAAAMAAAAAAAAAAESAAAPQAAAAAAAAAEiAAANQAAAAAAAAAEyAAAOQAAAAAAAAAICAAACABAAAAAAAAMCAAAEwBAAAAAAAAENAAAAQAAAAAAAAA",
    "enabled" : true,
    "url" : "\/Applications\/Google Chrome.app",
    "openSelectedFolders" : true
  },
  {
    "openSelectedFolders" : true,
    "order" : 3,
    "url" : "\/Applications\/Spark.app",
    "openSelectedFiles" : true,
    "bookmark" : "Ym9vaywCAAAAAAQQMAAAAJOULYcdqZmrnKjnU5WaQi2kUZZ\/c0Q92S+WL0ATx\/9VTAEAAAQAAAADAwAAABgAKAwAAAABAQAAQXBwbGljYXRpb25zCQAAAAEBAABTcGFyay5hcHAAAAAIAAAAAQYAABAAAAAkAAAACAAAAAQDAAA0Ob4BAAAAAAgAAAAEAwAAx0jpAQAAAAAIAAAAAQYAAEgAAABYAAAACAAAAAAEAABBwxeCyQAAABgAAAABAgAAAgAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAoO9FSgAAAAgAAAAABAAAQcHeRIAAAAAkAAAAAQEAAERGMTVEM0VDLUZBNTEtNEE0OS1CMEVBLUE0NzUxMTBFNENBMRgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAACoAAAA\/v\/\/\/wEAAAAAAAAADQAAAAQQAAA4AAAAAAAAAAUQAABoAAAAAAAAABAQAACIAAAAAAAAAEAQAAB4AAAAAAAAAAIgAAA4AQAAAAAAAAUgAACoAAAAAAAAABAgAAC4AAAAAAAAABEgAADsAAAAAAAAABIgAADMAAAAAAAAABMgAADcAAAAAAAAACAgAAAYAQAAAAAAADAgAABEAQAAAAAAABDQAAAEAAAAAAAAAA==",
    "hideIfActive" : false,
    "enabled" : true,
    "keyCode" : 46,
    "modifierFlags" : 1966379
  },
  {
    "hideIfActive" : false,
    "openSelectedFolders" : true,
    "bookmark" : "Ym9vazQCAAAAAAQQMAAAANts5eB+2wUWCrUFU1dqUvPGqh7GwJoKvnRQK4uS\/hO1VAEAAAQAAAADAwAAABgAKAwAAAABAQAAQXBwbGljYXRpb25zEwAAAAEBAABNaWNyb3NvZnQgVGVhbXMuYXBwAAgAAAABBgAAEAAAACQAAAAIAAAABAMAADQ5vgEAAAAACAAAAAQDAAAoEMABAAAAAAgAAAABBgAAUAAAAGAAAAAIAAAAAAQAAEHC74RHgAAAGAAAAAECAAACAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAAAQkAAGZpbGU6Ly8vDAAAAAEBAABNYWNpbnRvc2ggSEQIAAAABAMAAACg70VKAAAACAAAAAAEAABBwd5EgAAAACQAAAABAQAAREYxNUQzRUMtRkE1MS00QTQ5LUIwRUEtQTQ3NTExMEU0Q0ExGAAAAAECAACBAAAAAQAAAO8TAAABAAAAAAAAAAAAAAABAAAAAQEAAC8AAAAAAAAAAQUAAKgAAAD+\/\/\/\/AQAAAAAAAAANAAAABBAAAEAAAAAAAAAABRAAAHAAAAAAAAAAEBAAAJAAAAAAAAAAQBAAAIAAAAAAAAAAAiAAAEABAAAAAAAABSAAALAAAAAAAAAAECAAAMAAAAAAAAAAESAAAPQAAAAAAAAAEiAAANQAAAAAAAAAEyAAAOQAAAAAAAAAICAAACABAAAAAAAAMCAAAEwBAAAAAAAAENAAAAQAAAAAAAAA",
    "enabled" : true,
    "keyCode" : 14,
    "order" : 4,
    "openSelectedFiles" : true,
    "url" : "\/Applications\/Microsoft Teams.app",
    "modifierFlags" : 1966379
  },
  {
    "enabled" : true,
    "order" : 5,
    "openSelectedFiles" : true,
    "keyCode" : 31,
    "modifierFlags" : 1966379,
    "openSelectedFolders" : true,
    "hideIfActive" : false,
    "bookmark" : "Ym9vazgCAAAAAAQQMAAAAGPlNyf7egtC6wpZabfz4Yv0febF2AwOkkVGSGXTLb29WAEAAAQAAAADAwAAABgAKAwAAAABAQAAQXBwbGljYXRpb25zFQAAAAEBAABNaWNyb3NvZnQgT3V0bG9vay5hcHAAAAAIAAAAAQYAABAAAAAkAAAACAAAAAQDAAA0Ob4BAAAAAAgAAAAEAwAA\/OHnAQAAAAAIAAAAAQYAAFQAAABkAAAACAAAAAAEAABBwxFq+AAAABgAAAABAgAAAgAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAoO9FSgAAAAgAAAAABAAAQcHeRIAAAAAkAAAAAQEAAERGMTVEM0VDLUZBNTEtNEE0OS1CMEVBLUE0NzUxMTBFNENBMRgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAACoAAAA\/v\/\/\/wEAAAAAAAAADQAAAAQQAABEAAAAAAAAAAUQAAB0AAAAAAAAABAQAACUAAAAAAAAAEAQAACEAAAAAAAAAAIgAABEAQAAAAAAAAUgAAC0AAAAAAAAABAgAADEAAAAAAAAABEgAAD4AAAAAAAAABIgAADYAAAAAAAAABMgAADoAAAAAAAAACAgAAAkAQAAAAAAADAgAABQAQAAAAAAABDQAAAEAAAAAAAAAA==",
    "url" : "\/Applications\/Microsoft Outlook.app"
  },
  {
    "openSelectedFiles" : true,
    "keyCode" : 35,
    "enabled" : true,
    "bookmark" : "Ym9va0QCAAAAAAQQMAAAAB3vecknr2rtzgRpjJYQSfuk+ZEtHFS5YF4q95ktgebtZAEAAAQAAAADAwAAABgAKAYAAAABAQAAU3lzdGVtAAAMAAAAAQEAAEFwcGxpY2F0aW9ucwkAAAABAQAATXVzaWMuYXBwAAAADAAAAAEGAAAQAAAAIAAAADQAAAAIAAAABAMAABUAAAD\/\/\/8PCAAAAAQDAAAXAAAA\/\/\/\/DwgAAAAEAwAA+JUAAP\/\/\/w8MAAAAAQYAAFwAAABsAAAAfAAAAAgAAAAABAAAQcHeRIAAAAAYAAAAAQIAAAIAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAgAAAABCQAAZmlsZTovLy8MAAAAAQEAAE1hY2ludG9zaCBIRAgAAAAEAwAAAKDvRUoAAAAkAAAAAQEAAERGMTVEM0VDLUZBNTEtNEE0OS1CMEVBLUE0NzUxMTBFNENBMRgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAACoAAAA\/v\/\/\/wEAAAAAAAAADQAAAAQQAABIAAAAAAAAAAUQAACMAAAAAAAAABAQAACwAAAAAAAAAEAQAACgAAAAAAAAAAIgAABQAQAAAAAAAAUgAADQAAAAAAAAABAgAADgAAAAAAAAABEgAAAEAQAAAAAAABIgAAD0AAAAAAAAABMgAACgAAAAAAAAACAgAAAwAQAAAAAAADAgAABcAQAAAAAAABDQAAAEAAAAAAAAAA==",
    "url" : "\/System\/Applications\/Music.app",
    "openSelectedFolders" : true,
    "hideIfActive" : false,
    "modifierFlags" : 1966379,
    "order" : 6
  },
  {
    "openSelectedFolders" : true,
    "order" : 7,
    "hideIfActive" : false,
    "modifierFlags" : 1966379,
    "bookmark" : "Ym9vaxwCAAAAAAQQMAAAAJgFKvGnfsiCqKen4DJhsgvuejvX9aqAflQA5RSiVRIyPAEAAAQAAAADAwAAABgAKAwAAAABAQAAQXBwbGljYXRpb25zCgAAAAEBAABTYWZhcmkuYXBwAAAIAAAAAQYAABAAAAAkAAAACAAAAAQDAAA0Ob4BAAAAAAgAAAAEAwAANjm+AQAAAAAIAAAAAQYAAEgAAABYAAAACAAAAAAEAABBwd5EgAAAABgAAAABAgAAAgAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAoO9FSgAAACQAAAABAQAAREYxNUQzRUMtRkE1MS00QTQ5LUIwRUEtQTQ3NTExMEU0Q0ExGAAAAAECAACBAAAAAQAAAO8TAAABAAAAAAAAAAAAAAABAAAAAQEAAC8AAAAAAAAAAQUAAKgAAAD+\/\/\/\/AQAAAAAAAAANAAAABBAAADgAAAAAAAAABRAAAGgAAAAAAAAAEBAAAIgAAAAAAAAAQBAAAHgAAAAAAAAAAiAAACgBAAAAAAAABSAAAKgAAAAAAAAAECAAALgAAAAAAAAAESAAANwAAAAAAAAAEiAAAMwAAAAAAAAAEyAAAHgAAAAAAAAAICAAAAgBAAAAAAAAMCAAADQBAAAAAAAAENAAAAQAAAAAAAAA",
    "url" : "\/Applications\/Safari.app",
    "enabled" : true,
    "keyCode" : 1,
    "openSelectedFiles" : true
  },
  {
    "url" : "\/Applications\/Fantastical.app",
    "bookmark" : "Ym9vazACAAAAAAQQMAAAAEiLKzuk9jqubzg5nMeo6+\/7rjK27v\/jS8lwHKjJBdo9UAEAAAQAAAADAwAAABgAKAwAAAABAQAAQXBwbGljYXRpb25zDwAAAAEBAABGYW50YXN0aWNhbC5hcHAACAAAAAEGAAAQAAAAJAAAAAgAAAAEAwAANDm+AQAAAAAIAAAABAMAAEv2AAIAAAAACAAAAAEGAABMAAAAXAAAAAgAAAAABAAAQcMbqtiAAAAYAAAAAQIAAAIAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAgAAAABCQAAZmlsZTovLy8MAAAAAQEAAE1hY2ludG9zaCBIRAgAAAAEAwAAAKDvRUoAAAAIAAAAAAQAAEHB3kSAAAAAJAAAAAEBAABERjE1RDNFQy1GQTUxLTRBNDktQjBFQS1BNDc1MTEwRTRDQTEYAAAAAQIAAIEAAAABAAAA7xMAAAEAAAAAAAAAAAAAAAEAAAABAQAALwAAAAAAAAABBQAAqAAAAP7\/\/\/8BAAAAAAAAAA0AAAAEEAAAPAAAAAAAAAAFEAAAbAAAAAAAAAAQEAAAjAAAAAAAAABAEAAAfAAAAAAAAAACIAAAPAEAAAAAAAAFIAAArAAAAAAAAAAQIAAAvAAAAAAAAAARIAAA8AAAAAAAAAASIAAA0AAAAAAAAAATIAAA4AAAAAAAAAAgIAAAHAEAAAAAAAAwIAAASAEAAAAAAAAQ0AAABAAAAAAAAAA=",
    "openSelectedFiles" : true,
    "enabled" : true,
    "keyCode" : 3,
    "openSelectedFolders" : true,
    "hideIfActive" : false,
    "order" : 8,
    "modifierFlags" : 1966379
  }
]